.btn{
    width: 100px;
    height:100px;
    background-color: black;
    color : white;
    font-size:32px;
    border-radius: 20px;;
}

.id1{
    width: 100px;
    height:100px;
    background-color: rgb(30, 56, 142);
    color : white;
    font-size:32px;
    border-radius: 20px;;
}